{% extends 'navbar.html' %}
{% block content %}
<h2 align="center" style="margin-bottom:2%;">Applications</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile no</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.mobile_no }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a class="page-link" href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-link" style="color:gray;"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active page-link" style="color:red;"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a class="page-link" href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-link" style="color:gray;"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
