{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block content %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible alert-success " role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
    <h2 align="center" style="margin-bottom:2%;">Application Form</h2>
    <form method="POST">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="save btn btn-success">Save</button>
    </form>

{%  endblock %}
